# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv/
venv/
env/

# Configurações locais
*.env
*.log

# Arquivos temporários
*.tmp
*.swp

# Dados gerados pelo app
transacoes.csv

# Configurações do sistema
.DS_Store
Thumbs.db